.TabContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-vertical {
  flex-direction: row;
}

.content {
  flex: 1;
  width: 100%;
  padding: 0 $tab-pane-padding-x;
}

.tab {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: $tab-border-width solid $tab-border-color;
  box-shadow: $tab-box-shadow;

  .tab-pane {
    padding: $tab-pane-padding-y $tab-pane-padding-x;
    cursor: pointer;
    transition: $tab-transition;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.is-disabled {
      color: $tab-pane-disabled-color;
      pointer-events: none;
      cursor: default;
    }

    &.is-active,
    &:hover {
      color: $tab-pane-active-color;
      border-bottom: $tab-pane-active-border-width solid $tab-pane-active-color;
    }
  }

  .is-vertical {
    .arrow-icon {
      transform: rotate(0deg) !important;
    }
  }

  .is-vertical.is-opened {
    .arrow-icon {
      transform: rotate(180deg) !important;
    }
  }
}

.is-horizontal {
  >.tab-pane {
    border-bottom: $tab-pane-active-border-width solid transparent;
  }
}

.is-vertical {
  flex-direction: column;
  border-bottom: none;
  border-right: none;

  >.tab-pane,
  .addBtn {
    border-left: $tab-pane-active-border-width solid transparent;

    &.is-active,
    &:hover {
      border-bottom: none;
      border-left: $tab-pane-active-border-width solid $tab-pane-active-color;
    }
  }
}

.deleteBtn {
  border: none;
  background-color: white;
  border: none;
  text-align: left;
  padding: 0px;
  margin: 0px;
  line-height: 1.3;
  font-size: 16px;
}