.TabContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  flex: 1;
  width: 100%;
  padding: 0 $tab-pane-padding-x;
}

.tab {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: $tab-border-width solid $tab-border-color;
  box-shadow: $tab-box-shadow;

  .tab-pane {
    padding: $tab-pane-padding-y $tab-pane-padding-x;
    cursor: pointer;
    transition: $tab-transition;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.is-disabled {
      color: $tab-pane-disabled-color;
      pointer-events: none;
      cursor: default;
    }

    &.is-active,
    &:hover {
      color: $tab-pane-active-color;
      border-bottom: $tab-pane-active-border-width solid $tab-pane-active-color;
    }
  }

  .is-vertical {
    .arrow-icon {
      transform: rotate(0deg) !important;
    }
  }

  .is-vertical.is-opened {
    .arrow-icon {
      transform: rotate(180deg) !important;
    }
  }
}

.tab-horizontal {
  >.tab-pane {
    border-bottom: $tab-pane-active-border-width solid transparent;
  }
}

.tab-vertical {
  flex-direction: column;
  border-bottom: 0px;
  margin: 10px 20px;
  border-right: $tab-border-width solid $tab-border-color;

  >.tab-pane {
    border-left: $tab-pane-active-border-width solid transparent;

    &.is-active,
    &:hover {
      border-bottom: 0px;
      border-left: $tab-pane-active-border-width solid $tab-pane-active-color;
    }
  }
}